<button type="button" {{on 'click' this.identify}}>
  Identify
</button>

<button type="button" {{on 'click' this.group}}>
  Group
</button>

<button type="button" {{on 'click' this.groupIdentify}}>
  Group Identify
</button>

<button type="button" {{on 'click' this.eventWithOptionalProperties}}>
  Event w/ Optional Properties
</button>

<button type="button" {{on 'click' this.eventWithAllProperties}}>
  Event w/ All Properties
</button>

<button type="button" {{on 'click' this.otherProperties}}>
  Other Events
</button>
